* {
    box-sizing: border-box;
}

[class*="col"] {
    float: left;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* Light border for layout */
    /*   padding: 15px; */
}


.row-1::after {
    content: "";
    clear: both;
    display: block;
}

.row-2::after {
    content: "";
    clear: both;
    display: block;

}

.row-3::after {
    content: "";
    clear: both;
    display: block;

}


.row-1 {

    background-color: rgba(252, 245, 237, 0.438);
}

.row-2 {
    background-color: rgba(220, 251, 255, 0.32);
}

.row-3 {

    background-color: rgba(220, 251, 255, 0.32);
}

.row-3 p {
    text-align: right;
}

/* <-----BEGIN PAGE COMPONENTS ---->  */


/* -----  HEADER ------ */

header {
    background-color: rgb(255, 238, 214);
    padding: 0 0 0 0;
    margin: -0.3rem -0.3rem 0 -0.3rem;
}

.pagename {
    text-align: right;
    font-size: 2rem;
    font-family: 'Yellowtail';
    padding: 0 0 0 2rem;
    margin: 0 -1rem 0 0;
}

.pagename h1 {
    margin: 0 0 0 0;
    padding: 0 2rem 0 0;
    letter-spacing: 0.2rem;
    background-color: rgba(216, 115, 115, 0.5);
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 0;
    color: rgba(55, 232, 255, 0.31);
    text-shadow: 2px -2px 1px rgba(196, 0, 165, 0.32);
}

.retro-meatloaf {
    font-family: 'Grand hotel';
    font-size: 4rem;
    letter-spacing: .4rem;
    color: rgb(0, 0, 0);
    text-shadow: -2px 0px 2px rgba(196, 70, 212, 0.534);
    padding: 0 2rem 0 2rem;
    margin: 3rem 0 0 -1rem;
    background-color: rgba(115, 192, 216, 0.521);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 2%;
    border-top-left-radius: 0;
    border-top-right-radius: 90%;

}

.adapted-from {
    font-family: 'Sulphur Point';
    font-size: 1rem;
    padding: 0 0 0 3rem;
    margin: 0 0 0 0rem;
}





/* --------- FIRST ROW OF 3 --------- */





/* ----- LINKS ------ */

#links-box {

    background-color: #fefbf7;
    /* border: 4px solid black; */
}

.links {
    margin: 0 0 0 0;

}

#links-h3 {
    font-family: 'Limelight';
    font-size: 1.2rem;
}

.links p {
    display: block;
    text-align: center;
    font-family: 'Caprasimo';
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 0;
}

.links a {
    color: rgba(0, 0, 0, 0.664);
    background-color: rgb(203, 243, 255);
    border-radius: 9%;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    font-family: 'Sulphur Point';
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.664);



}

a {
    color: rgba(0, 159, 255, 0.86);
}

a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
}

.groovy {
    font-family: 'Yellowtail';
    text-shadow: -1px 0px 1px rgba(236, 29, 255, 0.575);
}


/* ------ PHOTO ------ */

.photo-background {
    text-align: center;
    /* margin-top: 2rem; */
    padding-top: 2rem;
}

#photo-box {
    /* background-color: #c6d6f9;
    border: 4px solid black; */
}

.photo {
    margin: 0 0 0 0;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 4%;
    box-shadow: 2px -3px 55px rgb(223, 117, 255);

}

.photo-caption {}




/* ------RATING / CONVERSION- -------*/


#rating-box {
    /* background-color: #c6d6f9;
    border: 4px solid black; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;


}

.rating {
    font-family: 'Limelight';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.rating h3 {
    font-family: 'Limelight';
    font-size: 1.4rem;
}


fieldset {
    font-size: 1rem;
    font-family: 'Sulphur Point';
    /* padding: 0 0 0 0; */
    width: 100%;
    margin: 0 0 0 1rem;
    border: 1px solid #000000;
    box-sizing: border-box;
}

fieldset legend {
    font-size: 0.4rem;
}

fieldset input {}



.conversion {
    margin-top: 1rem;
    font-family: 'Limelight';
    font-size: 1.2rem;

}

.conversion h3 {
    font-family: 'Limelight';
    font-size: 1.6rem;

}


/* ------  SECOND ROW OF 3 -----*/

h3 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Ultra';
}

#ingredients-box {
    /* border: 2px solid black; */
}

.ingredients {}


.ingredients ul {
    list-style-type: none;
    font-family: 'Roboto';
    font-size: 1.2rem;
    column-count: 2;

}

.ingredients li {

    line-height: 4rem
}


#equipment-box {
    /* 
    border: 2px solid black; */
}

.equipment {}

.equipment-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.equipment ul {
    grid-column: 2;
    text-align: left;
    font-size: 1.4rem;
    list-style-type: none;
    font-family: 'Roboto';
    padding: 0;

}

.equipment li {

    line-height: 4rem;
}


#directions-box {
    /* 
    border: 2px solid black; */
}

.directions {

    text-align: left;
    font-family: 'Roboto';
    font-size: 1.2rem;
    line-height: 6rem;
    margin-top: -1rem;
}

.directions h3 {
    padding: 0 0 0 0;
}

.directions li {
    line-height: 2rem;
}


/*--------- FOOTER --------*/



#disclaimer {
    color: rgb(0, 102, 255);
    font-variant: small-caps;
    text-align: right;
}



#disclaimer:hover {
    text-decoration: none;
    color: rgba(0, 102, 255, 0.863);
}